# Python
venv/
__pycache__/
*.pyc

# Environment
backend/.env

# AI files
backend/documents.pkl
backend/faiss_index.bin
backend/query_result.csv

# React
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/